.borde1 {
    border-width: 5px;
    border-style: solid;
    border-color: #389f85;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black,
                20px 20px 20px red;
}

.borde2 {
    border: 5px dashed green;
    border-radius: 10px 20px 15px 25px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.4);
}

.borde3 {
    border: 5px dotted black;
    border-radius: 10px 20px 30px 40px;
    box-shadow: inset 20px 20px 10px black;
}

.borde4 {
    border: 5px solid green;
    border-radius: 110px;
    box-shadow: 10px 30px 80px black;
}

div {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin: 50px;
    display: inline-block;
}